################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Serpentarios/v16
*.json
*.sqlite
/Serpentarios/.vs/Serpentarios/v16/Server/sqlite3
/Serpentarios/.vs/Serpentarios/v16
